%h1 Listing elements

%table
	%tr
		%td Name
		%td Body
		%td Owner
		%td Publish Date
	
	- @elements.each do |element| 
		%tr
			%td= element.name
			%td= raw RedCloth.new(element.body).to_html
			%td= element.owner.login
			%td= element.publish_effective_at
			%td= link_to 'Show', element
			%td= link_to 'Edit', edit_element_path(element)
			%td= link_to 'Destroy', element, :confirm => 'Are you sure?', :method => :delete 

%br

= link_to 'New Element', new_element_path

