%p
	=notice

%p
	%b Name:
	= @element.name


%p
	%b Body processed:
%div{:style => "border:2px solid #efefef; padding:6px"}
	= raw @element.body


%p
	%b Owner:
	= @element.owner.name

%p
	%b Publish Effective At:
	=@element.publish_effective_at


= link_to 'Edit', edit_element_path(@element)
= link_to 'Back', elements_path
